@media only screen and (min-width: 1024px) {


.iPhone {
	margin: -420px -15% 0 0;
}

.storetag {
	width: 80%;
	margin: 20px 10%;
	text-align: center;
}

.shadow {
margin: -380px 0 0 0;
}

}

@media only screen and (min-width: 1200px) {

p {
	font-size: 1em;
}

.logo img {
	width: 20%;
}

.iPhone {
	width: 60%;
	margin: -300px -10% 0 0;
}

.shadow {
width: 60%;
margin: -360px 0;
}

}